.coin-container {
  width: 50%;
  margin: 150px auto;
}

.coin-data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #e3e3e3;
  background-color: #414141;
  position: relative;
}

.coin-header {
  opacity: 0.9;
  font-size: 28px;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
}

.image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: -50px;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.market-data {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.price-container {
  color: #e3e3e3;
  font-size: 18px;
  opacity: 0.9;
}

.increased {
  color: #9fff9f;
}

.decreased {
  color: #f95b5b;
}

.unchanged {
  color: #e3e3e3;
}

.high-and-low-prices {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.high-and-low-prices > span {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.high-day {
  color: #9fff9f;
}

.low-day {
  color: #f95b5b;
}

.chart-container {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
